.grid {
	margin: 1em auto;
	border-collapse: collapse;
}

.grid td {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
}

.grid td.LEFT {
	background-image: url("images/PersonLeft.png");
}

.grid td.UP {
	background-image: url("images/PersonUp.png");
}

.grid td.RIGHT {
	background-image: url("images/PersonRight.png");
}

.grid td.DOWN {
	background-image: url("images/PersonDown.png");
}
/*
.grid td.w {
	background-color: blue;
}

.grid td.l {
	background-color: tan;
}

.grid td.g {
	background-color: green;
}

.grid td.b {
	background-color: gray;
}

.grid td.d {
	background-color: brown;
}*/

#mainBoard {
	float: left;
}