.grid { 
	border-collapse:collapse; 
}
.grid td {
    cursor:pointer;
    width:30px; 
    height:30px;
    min-width: 30px;
	min-height: 30px;
    border:1px solid #ccc;
}
.grid td.clicked {
    background-color:yellow;
}

input {
	width: 40px;
}