.grid { 
	border-collapse: collapse; 
}
.grid td {
    cursor:pointer;
    width: 16px; 
    height: 16px;
    min-width: 16px;
	min-height: 16px;
	padding: 0px;
	margin: 0px;
    border:1px solid #ccc;
}
.grid td.clicked {
    background-color: yellow;
}

.colorTable th, td {
	font-size: 8pt;
	text-align: center;
}

input {
	width: 40px;
}

div.colorBlock {
	cursor: pointer;
	width: 16px;
	height: 16px;
	min-width: 16px;
	min-height: 16px;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	background-repeat: no-repeat;
}

div.clicked {
	border: 2px solid black;
}

div.section {
	border: 1px solid black;
	padding: 5px;
}

div#mainBoard {
	padding: 10px;
}

p#result {
	font-size: 6px;
}