.grid {
	border-collapse: collapse;
}

.fightScene {
	border-collapse: collapse;
}

.grid td {
	width: 16px;
	height: 16px;
	max-width: 14px;
	background-repeat: no-repeat;
}

div.LEFT {
	background-image: url("images/PersonLeft.png");
	min-height: 14px;
}
div.UP {
	background-image: url("images/PersonUp.png");
	min-height: 14px;
}
div.RIGHT {
	background-image: url("images/PersonRight.png");
	min-height: 14px;
}
div.DOWN {
	background-image: url("images/PersonDown.png");
	min-height: 14px;
}

td.fightTd#foeStats {
	height: 56px;
	max-width: 104px;
	max-height: 56px;
	background-color: gray;
	table-layout: fixed;
}

td.fightTd#foeImage {
	width: 56px;
	height: 56px;
	max-width: 56px;
	max-height: 56px;
	vertical-align: text-top;
	text-align: right;
}

td.fightTd#yourImage {
	width: 56px;
	height: 56px;
	max-width: 56px;
	max-height: 56px;
	vertical-align: text-bottom;
	text-align: left;
}

td.fightTd#yourStats {
	width: 104px;
	height: 56px;
	max-width: 104px;
	max-height: 56px;
	background-color: gray;
	vertical-align: text-bottom;
	text-align
}

td.optionsTd {
	width: 160px;
	height: 48;
	background-color: black;
}