.grid {
	border-collapse: collapse;
}

.grid td {
	width: 16px;
	height: 16px;
	max-width: 14px;
	background-repeat: no-repeat;
}

div.LEFT {
	background-image: url("images/PersonLeft.png");
	min-height: 14px;
}
div.UP {
	background-image: url("images/PersonUp.png");
	min-height: 14px;
}
div.RIGHT {
	background-image: url("images/PersonRight.png");
	min-height: 14px;
}
div.DOWN {
	background-image: url("images/PersonDown.png");
	min-height: 14px;
}

p {
	font-size: 10px;
	font-family: "Lucida Console", Monaco, monospace;
}

#fightScene {
	width: 160px;
	height: 160px;
	border: 1px solid black;
}

#theirDiv {
	width: 160px;
	height: 56px;
}

#theirStats {
	float: left;
	width: 104px;
	height: 56px;
}

#theirStatBar {
	position: absolute;
}

#theirHealthBarWrapper {
	position: absolute;
	top: 28px;
	left: 41px;
}

#theirHealthBar {
	height: 5px;
}

#theirName {
	padding-left: 10px;
}

#theirLevel {
	padding-left: 44px;
	font-size: 9px;
}

#theirImageDiv {
	float: right;
	width: 56px;
	height: 56px;
}

#yourDiv {
	width: 160px;
	height: 56px;
}

#yourImageDiv {
	float: left;
	width: 56px;
	height: 56px;
}

#yourStats {
	float: right;
	width: 104px;
	height: 56px;
}

#yourStatBar {
	position: absolute;
}

#yourName {
	padding-left: 25px;
}

#yourLevel {
	padding-left: 53px;
	font-size: 9px;
}

#yourHealthBarWrapper {
	position: absolute;
	left: 107px;
	top: 84px;
}

#yourHealthBar {
	height: 5px;
}

#yourExpBarWrapper {
	position: relative;
	top: -9px;
	right: 14px;
}

#yourExpBar {
	height: 5px;
	float: right;
}

#yourHp {
	padding-left: 45px;
}

.pokemonName {
	display: inline;
	position: relative;
	font-weight: bold;
}

.pokemonLevel {
	display: inline;
	font-size: 9px;
	font-weight: bold;
}

.pokemonHp {
	font-size: 9px;
	font-weight: bold;
}

#optionsDiv {
	width: 160px;
	height: 48px;
	border-top: 1px solid black;
}

#optionsText {
	margin: 4px;
	display: inline;
}

#startOptions {
	width: 80px;
	height: 48px;
	border-left: 1px solid black;
	float: right;
}

#moveOptions {
	position: absolute;
	width: 160px;
	height: 48px;
	background-color: gray;
}

.startOption {
	float: right;
	background-color: #fff;
	border: none;
	width: 40px;
	cursor: pointer;
	padding: 5px 0px;
}

.moveOption {
	float: left;
	width: 80px;
	height: 23px;
	padding: 0px;
}

.startOption:focus {
	outline: 0px;
}