.grid {
	border-collapse: collapse;
}

.grid td {
	width: 16px;
	height: 16px;
	min-width: 16px;
	min-height: 16px;
	/*background-repeat: no-repeat;*/
}

.grid td.l {
	/*background-color: tan;*/
	background-image: url("images/ground.png");
}
.grid td.w {
	/*background-color: blue;*/
	background-image: url("images/water.png");
}
.grid td.g {
	/*background-color: green;*/
	background-image: url("images/grass.png");
}
.grid td.b {
	background-color: gray;
	/*background-image = url("images/")*/
}
.grid td.d {
	background-color: brown;
}
