.grid {
	border-collapse: collapse;
}

.grid td {
	cursor: pointer;
	width: 30px;
	height: 30px;
	min-width: 30px;
	min-height: 30px;
	border: 1px solid #ccc;
	background-repeat: no-repeat;
}

.grid td.clicked {
	background-color: yellow;
}

.grid td.successCell {
	background-color: green;
}

.grid td.failCell {
	background-color: red;
}

input.location {
	width: 20px;
}