.grid {
	border-collapse: collapse;
}

.grid td {
	width: 30px;
	height: 30px;
	border: 1px solid #ccc;
	background-repeat: no-repeat;
}

.grid td.w {
	background-color: blue;
}

.grid td.l {
	background-color: tan;
}