#buildingGreenShort00 {background-image: url("images/buildingGreenShort00.png");}
#buildingGreenShort01 {background-image: url("images/buildingGreenShort01.png");}
#buildingGreenShort03 {background-image: url("images/buildingGreenShort03.png");}
#buildingGreenShort10 {background-image: url("images/buildingGreenShort10.png");}
#buildingGreenShort12 {background-image: url("images/buildingGreenShort12.png");}
#buildingGreenShort13 {background-image: url("images/buildingGreenShort13.png");}
#buildingGreenTall00 {background-image: url("images/buildingGreenTall00.png");}
#buildingGreenTall01 {background-image: url("images/buildingGreenTall01.png");}
#buildingGreenTall03 {background-image: url("images/buildingGreenTall03.png");}
#buildingGreenTall10 {background-image: url("images/buildingGreenTall10.png");}
#buildingGreenTall11 {background-image: url("images/buildingGreenTall11.png");}
#buildingGreenTall12 {background-image: url("images/buildingGreenTall12.png");}
#buildingGreenTall13 {background-image: url("images/buildingGreenTall13.png");}
#buildingGreenTall20 {background-image: url("images/buildingGreenTall20.png");}
#buildingGreenTall22 {background-image: url("images/buildingGreenTall22.png");}
#buildingGreenTall23 {background-image: url("images/buildingGreenTall23.png");}
#buildingBrickTall00 {background-image: url("images/buildingBrickTall00.png");}
#buildingBrickTall01 {background-image: url("images/buildingBrickTall01.png");}
#buildingBrickTall05 {background-image: url("images/buildingBrickTall05.png");}
#buildingBrickTall10 {background-image: url("images/buildingBrickTall10.png");}
#buildingBrickTall11 {background-image: url("images/buildingBrickTall11.png");}
#buildingBrickTall15 {background-image: url("images/buildingBrickTall15.png");}
#buildingBrickTall20 {background-image: url("images/buildingBrickTall20.png");}
#buildingBrickTall21 {background-image: url("images/buildingBrickTall21.png");}
#buildingBrickTall22 {background-image: url("images/buildingBrickTall22.png");}
#buildingBrickTall23 {background-image: url("images/buildingBrickTall23.png");}
#buildingBrickTall24 {background-image: url("images/buildingBrickTall24.png");}
#buildingBrickTall25 {background-image: url("images/buildingBrickTall25.png");}
#buildingBrickTall30 {background-image: url("images/buildingBrickTall30.png");}
#buildingBrickTall31 {background-image: url("images/buildingBrickTall31.png");}
#buildingBrickTall33 {background-image: url("images/buildingBrickTall33.png");}
#buildingBrickTall35 {background-image: url("images/buildingBrickTall35.png");}
#buildingGym00 {background-image: url("images/buildingGym00.png");}
#buildingGym01 {background-image: url("images/buildingGym01.png");}
#buildingGym05 {background-image: url("images/buildingGym05.png");}
#buildingGym10 {background-image: url("images/buildingGym10.png");}
#buildingGym11 {background-image: url("images/buildingGym11.png");}
#buildingGym15 {background-image: url("images/buildingGym15.png");}
#buildingGym20 {background-image: url("images/buildingGym20.png");}
#buildingGym21 {background-image: url("images/buildingGym21.png");}
#buildingGym22 {background-image: url("images/buildingGym22.png");}
#buildingGym23 {background-image: url("images/buildingGym23.png");}
#buildingGym24 {background-image: url("images/buildingGym24.png");}
#buildingGym25 {background-image: url("images/buildingGym25.png");}
#buildingGym30 {background-image: url("images/buildingGym30.png");}
#buildingGym31 {background-image: url("images/buildingGym31.png");}
#buildingGym35 {background-image: url("images/buildingGym35.png");}
#cylinderBarrier {background-image: url("images/cylinderBarrier.png");}
#cliffDownLeft {background-image: url("images/cliffDownLeft.png");}
#cliffDown {background-image: url("images/cliffDown.png");}
#cliffDownRight {background-image: url("images/cliffDownRight.png");}
#cliffLeft {background-image: url("images/cliffLeft.png");}
#cliffPassage {background-image: url("images/cliffPassage.png");}
#cliffRight {background-image: url("images/cliffRight.png");}
#door {background-image: url("images/door.png");}
#fence {background-image: url("images/fence.png");}
#grass {background-image: url("images/grass.png");}
#groundBrick {background-image: url("images/groundBrick.png");}
#groundBrown {background-image: url("images/groundBrown.png");}
#groundGreen {background-image: url("images/groundGreen.png");}
#groundWhite {background-image: url("images/groundWhite.png");}
#groundYellow {background-image: url("images/groundYellow.png");}
#mountainBottom {background-image: url("images/mountainBottom.png");}
#mountainBottomLeft {background-image: url("images/mountainBottomLeft.png");}
#mountainBottomRight {background-image: url("images/mountainBottomRight.png");}
#mountainCenter {background-image: url("images/mountainCenter.png");}
#mountainInnerBottomRight {background-image: url("images/mountainInnerBottomRight.png")}
#mountainLeft {background-image: url("images/mountainLeft.png");}
#mountainRight {background-image: url("images/mountainRight.png");}
#mountainTop {background-image: url("images/mountainTop.png");}
#mountainTopLeft {background-image: url("images/mountainTopLeft.png");}
#mountainTopRight {background-image: url("images/mountainTopRight.png");}
#signPokeCenter {background-image: url("images/signPokeCenter.png");}
#signPokeMart {background-image: url("images/signPokeMart.png");}
#signWhite {background-image: url("images/signWhite.png");}
#signYellow {background-image: url("images/signYellow.png");}
#smallTree {background-image: url("images/smallTree.png");}
#water {background-image: url("images/water.png");}
#waterLeft {background-image: url("images/waterLeft.png");}
#waterTop {background-image: url("images/waterTop.png");}
#waterTopLeft {background-image: url("images/waterTopLeft.png");}
#waterTopRight {background-image: url("images/waterTopRight.png");}
#waterRight {background-image: url("images/waterRight.png");}