#buildingGreenShortGroundLeft {background-image: url("images/buildingGreenShortGroundLeft.png");}
#buildingGreenShortGroundRight {background-image: url("images/buildingGreenShortGroundRight.png");}
#buildingGreenShortGroundTwoWindows {background-image: url("images/buildingGreenShortGroundTwoWindows.png");}
#buildingGreenShortGroundWindowLeft {background-image: url("images/buildingGreenShortGroundWindowLeft.png");}
#buildingGreenShortGroundWindowRight {background-image: url("images/buildingGreenShortGroundWindowRight.png");}
#buildingGreenShortRoofCenter {background-image: url("images/buildingGreenShortRoofCenter.png");}
#buildingGreenShortRoofLeft {background-image: url("images/buildingGreenShortRoofLeft.png");}
#buildingGreenShortRoofRight {background-image: url("images/buildingGreenShortRoofRight.png");}
#cylinderBarrier {background-image: url("images/cylinderBarrier.png");}
#cliffDownLeft {background-image: url("images/cliffDownLeft.png");}
#cliffDown {background-image: url("images/cliffDown.png");}
#cliffDownRight {background-image: url("images/cliffDownRight.png");}
#cliffLeft {background-image: url("images/cliffLeft.png");}
#cliffRight {background-image: url("images/cliffRight.png");}
#door {background-image: url("images/door.png");}
#fence {background-image: url("images/fence.png");}
#grass {background-image: url("images/grass.png");}
#groundBrown {background-image: url("images/groundBrown.png");}
#groundGreen {background-image: url("images/groundGreen.png");}
#groundWhite {background-image: url("images/groundWhite.png");}
#groundYellow {background-image: url("images/groundYellow.png");}
#signWhite {background-image: url("images/signWhite.png");}
#signYellow {background-image: url("images/signYellow.png");}
#smallTree {background-image: url("images/smallTree.png");}
#water {background-image: url("images/water.png");}
#waterLeft {background-image: url("images/waterLeft.png");}
#waterTop {background-image: url("images/waterTop.png");}
#waterTopLeft {background-image: url("images/waterTopLeft.png");}
#waterTopRight {background-image: url("images/waterTopRight.png");}
#waterRight {background-image: url("images/waterRight.png");}